<h1><%= @skill.name %></h1>

<h3>Description: <%= @skill.description %></h3>

<p><%= link_to "Edit this Skill", edit_skill_path %></p>

<p><%= link_to "Delete this Skill", skill_path(@skill),
                                    :data => {:confirm => "Confirm Delete",
                                    :method => "delete"} %></p>

<p><%= link_to "Return to Skills list", skills_path %></p>
